@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #305345;
    margin-top: 100px;
}
form{
    height: 80%;
}
.w50{
    width: 30%;
    float:left;
    margin-top: 50px;
}
.w51{
    width: 15%;
    float:left;
    margin-right: -10px;
    margin-top: 50px;
} 
.w52{
    width:11%;
    float:left;
    margin-top: 15px;
}  
.w53{
  width: 11%;
  float: left;
  margin-top: 15px;
}
   
.box{
    display: flex;
    width: 95%;
    height: 100%;
    box-sizing: border-box;
}
.form-box{
    background-color: rgba(244, 248, 244, 0.911);
    backdrop-filter: blur(65px);
    padding: 30px 30px;
    width: 100%;
    height: 70vh;
    border-radius: 20px;    
}
.form-box h2{
    font-size: 25px;
    color: #09d877;
    margin-top: 15px;
}
.form-box p{
    font-weight: bold;
    color: #09d877;
    margin-top: 15px;
}
.form-box p a{
    color: #c8c7d3;
    text-decoration: none;
    
}
.form-box input{
    align-items: center;
    display: block;
}
form .input-group{
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
}
form .input-group label{
    color: #0f0f0f;
    font-weight: bold;
    display: flex;
    margin-bottom: 1px;
}
form .input-group input {
    width:100%;
    height: 10px;
    background-color: rgba(250, 241, 241, 0.603);
    border-radius: 15px;
    outline: none;
    border: 6px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #0c0c0c;
    transition: all 0.4s ease;
    margin-top: 5px;
}
form .input-group input:focus{
    border-color: #0e0b0c69;
}
form .input-group button{
    width: 13%;
    height: 40px;
    background: #0fdf7e;
    border-radius: 20px;
    outline: none;
    border: none;
    color: rgb(22, 20, 20);
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 10px 40px -12px #e3e6e4f8;
    font-weight: 800;
    letter-spacing: 3px;
    margin-left: 310px; 
    margin-top: 200px;
}
form .input-group input .checkbox{
    width: 28px;
    height: 18px;
    content: '';
    display: inline-block;
}
.input-group select{
    width: 78%;
    height: 33px;
    border-radius: 10px;
    list-style: none;  
}

@media only screen and (max-width:1400px){
    body{
        width: 1350px;
        height: auto;;
        margin-top: 50px;
        margin-left: 8px;
    }
    .box{
        width: 100%;
        height: 100%;
    }
    .form-box{
        width: 100%;
        height: 100%;
    }
    .w50{
        width: 270px;
    }
    .w51{
        width: 185px; 
    }
    .w52{
        width: 190px;  
    }
    .w53{
        width: 130px; 
        margin-right: 100px;
    }
    .w54{
        float: right;
        width: 180px;
    }
    form .input-group button{
        width: 15%;
        margin-top: 50px;
        margin-left: 580px;
    }
}
@media only screen and (max-width:500px){
    body{
        margin-top: 5px;
        width: 450px;
        height: auto;
        margin-left: 10px;
    }
    .box{
        width: 100%;
        height: 100%;
    }
    .form-box{
        width: 100%;
        height: 100%;
    }
    .w50{
        margin-left: 60px;
        width: 80%;
        flex-direction: column;
    }
    .w51{
        width: 80%;
        margin-left: 60px;
        flex-direction: column;
    }
    .w52{
        width: 70%;
        margin-left: 60px;
        float: left;
        flex-direction: column;
    }
    .w53{
        width: 70%;
        margin-left: 60px;
        float: left;
        flex-direction: column;
    }
    form .input-group button{
        margin-left: 130px;
        width: 30%;
    }
}